body {
  background-color: white;
}

#container {
  border-style: hidden;
  width: 100%;
  height: 100%;
}

.center {
  color: gold;
  text-align: center;
  margin-bottom: 0px;
}

.guess-feedback{
  display: block;
  height: 50px;
}

.background {
  width: 80%;
  height: 200px;
}

#input {
  display: block;
  width: 150px;
  margin: 0 auto;
  border-width: 1px;
  border-color: gold;
}

#guess-feedback{
  display: block;
  text-align: center;
}

/* incorrect guesses styling */
.guesses {
  height: 150px;
  border-color: gold;
}

h1 {
  color: gold;
}

#guess-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.guess {
  background-color: white;
  list-style-type: none;
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.buttons {
  display: block;
  width: 200px;
  height: 25px;
  margin: 0 auto;
  border-color: gold;
}

#footer {
  width: 100%;
  height: 90px;
  border-top: solid 2px gold;
  background-color: white;
  bottom: 0;
}

#img1 {
  width: 250px;
  height: 55px;
  float: left;
  margin: 10px 30px 5px; 
}

#img2 {
  width: 250px;
  height: 55px;
  float: right;
  margin: 10px 30px 5px;
}

#img3 {
  width: 25px;
  height: 25px;
  margin: 0px 0px 0px;
}

.footer {
  display: inline-block;
  background-color: white;
  color: black;
  letter-spacing: 1px;
  text-align: center;
  width: 20%;
  margin: 1%;
  vertical-align: text-bottom;
}